.users-container {

    background-color: #84a7fc;
    padding: 5px;
    height: 276px;

}

.main-container {
    background-color: #84a7fc;
    padding: 4x !important;
}

#scrolling {
    height: 65px;
}

#view-button {
    background: #2218af;
    color: white;

    border: 1px solid #8282c3;
}

#select-user-title {
    color: white;
    padding-top: 18px;
    font-size: 21px;
}

#border {
    border-bottom: 1px solid #84a7fc;
}

.profiles-page {
    margin: 0 auto;
    width: 100%;
}

#card-body {
    padding: 13px;
}

#profile-row {
    margin-top: 35px;
}



#profile-card {
    border-radius: 10px;
    height: min-content !important;
    border: 1px solid black;
}

@media (max-width:991) {
    #second-col {
        margin-top: 35px;
    }
    #second-container {
        margin-right: 64px !important;
        margin-top: 20px !important;
    
    }
   
}