#root {

 
  text-align: center;
}

.page{
  margin:0 auto;
  width: 100%;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
#sidebar-content{
  margin-top: 37px;
}

@media (max-width:588px){
#dashboard-logo{
  display: none !important;
}
}

#dashboard-logo{
  height:80px;
  width: 66px;
  left: 58%;
  bottom:28%;
  position:relative;
}

#nav-link{
  color: white !important
}

#settings-nav-item:hover{
  color: darkblue !important;
}



#nav-link:hover{
  color : darkblue !important;
}

.bg-dark {
  background-color: 	#d2afff !important;
}

a .icon{
  margin-right: 2px;
}

#sidebar a{
  margin-top: 24px;
}

#settings-nav-item{
  margin-top: 40px;
  color: white !important;
}

#sidebar{
max-width: 18% !important;
justify-content: center;
  justify-self: center;
  display: flex;

}

button:hover{
  background: darkblue !important;
  color: white;
}

#view-button:hover{
  background: darkblue !important;
  color: white;
}


#dashboard-content{
  background-color: #f3f4fb !important;
}



@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}


